*{
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;
    color: black;

}
a:hover{
    color: cornflowerblue;
}

b {
    text-decoration: none;
    color: black;

}
b:hover{
    color: cornflowerblue;
}


h1.title {
    background-color: cornflowerblue;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
}

h1.title{
    background-color: cornflowerblue;
    color:black;
    padding: 10px;
}
form {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    border-radius:20px;
    display: flex;
}
form input {
    padding: 5px;
    border: none;
    outline: none;
    flex: 1;

}
form button {
    padding: 5px 10px;
    background-color:cornflowerblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

form button:hover{
    background-color: darkblue;
}



div.lista {
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.item {
    text-align:center;
    padding: 10px;
    width: 200px;
    border: 2px solid cornflowerblue;
    border-radius: 5px;
    margin:5px ;

}

div.item:hover {
      background-color: cornflowerblue;
      cursor: pointer;
}

div.item img {
    width: 100%;

}

.logo{
    height: 130px;
    width: 130px;
    margin-right: 12px;
    
}
.login-link {
    position: absolute;
    top: 10px;
    right: 10px;
}

.sign-up-link {
        position: absolute;
        top: 20px;
        right: 10px;
  }
  
a {
    margin: 10px;
    padding: 10px;
    border-radius:20px;
    display: flex;
}
a input {
    padding: 5px;
    border: none;
    outline: none;
    flex: 1;

}
a button {
    padding: 5px 10px;
    background-color:cornflowerblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

b button:hover{
    background-color: darkblue;
}

b {
    margin: 10px;
    padding: 10px;
    border-radius:20px;
    display: flex;
}
b input {
    padding: 5px;
    border: none;
    outline: none;
    flex: 1;

}
b button {
    padding: 5px 10px;
    background-color:cornflowerblue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

b button:hover{
    background-color: darkblue;
}


h1{
    font-family: Arial, Helvetica, sans-serif;
}

